<div class="title">
  <div class="container">
    <p class="text-1">About me</p>
    <p class="text-2">who i am</p>
  </div>
</div>

<div class="about-content">
  <div class="column-left">
    <img src="/IMG_8349.JPG" alt="My photo">
  </div>
  <div class="column-right">
    <div class="text">
      I'm Nour Eddein and I'm a <span class="developer">Developer</span>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem
      excepturi eaque,
      sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae.
      Explicabo
      illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem
      consequuntur
      blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum non.
    </p>
    <div>
      <a href="#">Download my CV</a>
    </div>
  </div>
</div>