<div class="about-me" id="about_me_page">

  <div class="title">
    <div class="container">
      <p class="text-1">About me</p>
      <p class="text-2">who i am</p>
    </div>
  </div>

  <div class="about-content">
    <div class="column-left">
      <img src="/IMG_20180402_123402_307.JPG" alt="My photo">
    </div>
    <div class="column-right">
      <div class="text">
        I'm Nour Eddein and I'm a <span class="developer typing"></span>
      </div>
      <p>My name is Nour Eddein but it’s a long name and you can call me Nour. I’m Jordanian, I love to code, build
        websites from
        scratch, and one thing you may not know about me is I am a Civil Engineer, I have two degrees Bachelor's, and
        Diploma. I
        graduated in 2018. But after four years I decided to shift my career and follow my passion to become a web
        developer.
      </p>
      <div>
        <a href="/download-CV">Download my CV</a>
      </div>
    </div>
  </div>


</div>