<footer>
  <div class="container">
    <div class="creator">
      <p>Created By <a href="https://github.com/noureddein">Nour Eddein</a> | &#169; 2021 All rights reserved.</p>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com/noureddein1" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://github.com/noureddein" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/noureddein/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>