<header id="header_page">
  <nav>
    <div>
      <h1>Portfo<span class="lio">lio.</span></h1>
    </div>
    <div class="page-content">
      <label for="toggler">&#9776;</label>
      <input type="checkbox" id="toggler">
      <ul>
        <li><a href="#header_page" class="home">Home</a> </li>
        <li><a href="#about_me_page" class="about">About Me</a> </li>
        <li><a href="#skills_page" class="skills">Skills</a> </li>
        <li><a href="#projects_page" class="myProjects">My Projects</a> </li>
        <li><a href="#contact_me_page" class="contactMe">Contact Me</a> </li>
      </ul>
    </div>
  </nav>

  <div class="intro-box">
    <div class="intro">
      <p class="first-p">Hello, my name is</p>
      <p class="second-p">Nour Eddein Al Abassi</p>
      <p class="third-p">And I'm a <span class="developer typing-2"></span></p>
      <a>Hire me</a>
    </div>

  </div>

</header>