<header>
  <nav>
    <div>
      <h1>Portfo<span class="lio">lio.</span></h1>
    </div>
    <div class="page-content">
      <ul>
        <li><a href="#" class="home">Home</a> </li>
        <li><a href="#" class="about">About Me</a> </li>
        <li><a href="#" class="skills">Skills</a> </li>
        <li><a href="#" class="myProjects">My Projects</a> </li>
        <li><a href="#" class="contactMe">Contact Me</a> </li>
      </ul>
    </div>
  </nav>

  <div class="intro-box">
    <div class="intro">
      <p class="first-p">Hello, my name is</p>
      <p class="second-p">Nour Eddein Al Abassi</p>
      <p class="third-p">And I'm a <span class="developer">Developer</span></p>
      <a>Hire me</a>
    </div>
  </div>
</header>