<div class="projects_container" id="projects_page">
  <div class="title">
    <div class="container">
      <p class="text-1">My Projects</p>
      <p class="text-2">what i done</p>
    </div>
  </div>
  <div class="projects">
    <div class="container left-slider">




      <div style="background-color: teal;">
        <h2>Pocket Books <a href="https://pocketbooks-test.herokuapp.com/" target="_blank"><i
                class="fas fa-external-link-alt"></i></a>
        </h2>
        <h4>Tools Used:</h4>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Ejs</li>
          <li>Node.js</li>
          <li>API</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>

    <div class="container right-slider">
      <div style="background-image: url('/pocketbooks.png');">
      </div>

    </div>

    <div class="action-buttons">
      <button class="down-button">
        <i class="fas fa-arrow-down"></i>
      </button>
      <button class="up-button">
        <i class="fas fa-arrow-up"></i>
      </button>
    </div>

  </div>

</div>