<div class="skills">
  <div class="title">
    <div class="container">
      <p class="text-1">My Skills</p>
      <p class="text-2">what i know</p>
    </div>
  </div>
  <div class="skills-content">
    <section class="skills-description">
      <div class="text">
        My creative skills & experiences.
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ratione error est recusandae
        consequatur, iusto
        illum deleniti quidem impedit, quos quaerat quis minima sequi. Cupiditate recusandae laudantium esse,
        harum
        animi
        aspernatur quisquam et delectus ipsum quam alias quaerat? Quasi hic quidem illum. Ad delectus natus aut
        hic
        explicabo
        minus quod.</p>

    </section>
    <section class="skills-languages">
      <ul>
        <li>
          <div class="data">
            <span>HTML</span>
            <span class="percent">90%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>CSS</span>
            <span class="percent">80%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>JavaScript</span>
            <span class="percent">70%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>SASS</span>
            <span class="percent">50%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>Node.js</span>
            <span class="percent">50%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>PostgreSQL</span>
            <span class="percent">50%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>

      </ul>
    </section>
  </div>
</div>