<div class="skills show-on-scroll" id="skills_page">
  <div class="title show-on-scroll">
    <div class="container">
      <p class="text-1">My Skills</p>
      <p class="text-2">what i know</p>
    </div>
  </div>
  <div class="skills-content">
    <section class="skills-description show-on-scroll">
      <div class="text">
        My creative skills & experiences.
      </div>
      <p>JavaScript developer with hands-on experience with HTML, CSS, and JavaScript. Passionate about using code to
        maximize
        software efficiency while developing creative, customer-focused solutions.</p>

    </section>
    <section class="skills-languages show-on-scroll">
      <ul>
        <li>
          <div class="data">
            <span>HTML</span>
            <span class="percent">90%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>CSS & SASS</span>
            <span class="percent">70%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>JavaScript</span>
            <span class="percent">70%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
       
        <li>
          <div class="data">
            <span>Node.js</span>
            <span class="percent">50%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>PostgreSQL</span>
            <span class="percent">50%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="data">
            <span>GitHub</span>
            <span class="percent">65%</span>
          </div>
          <div class="loading">
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>

      </ul>
    </section>
  </div>
</div>