@media (max-width: 900px) {
  #header_page {
    .page-content {
      label {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
      }
      ul {
        display: none;
        padding-right: 7rem;
      }
      #toggler:checked ~ ul {
        display: block;
      }
    }
  }

  #about_me_page {
    .about-content {
      display: flex;
      flex-direction: column;
      .column-left {
        margin: auto;
      }
      .column-right {
        padding: 1rem;
        width: 100%;
      }
    }
  }

  #skills_page {
    .skills-content {
      display: flex;
      flex-direction: column;
      .skills-description {
        width: 100%;
      }
      .skills-languages {
        width: 100%;
        ul {
          li {
            .data {
              display: flex;
              width: 100%;
            }
            .loading {
              .progress-bar {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  #contact_me_page {
    .contact-me-section {
      .container {
        display: flex;
        flex-direction: column;
        .left-section {
          width: 100%;
        }
        .right-section {
          width: 100%;
          button {
            width: 50%;
          }
        }
      }
    }
  }
}
